### Microtask 1

In [1]:
import pandas as pd
import quandl

In [2]:
AUTH_API_KEY = open("API_KEY.txt",'r').read()

In [3]:
data = quandl.get("WIKI/AAPL",authtoken = AUTH_API_KEY)

In [4]:
data.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0

In [5]:
data.shape

(9400, 12)

In [6]:
data.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Ex-Dividend', 'Split Ratio',
       'Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume'],
      dtype='object')

In [7]:
data = data[[ 'Adj. High', 'Adj. Low', 'Adj. Open', 'Adj. Close', 'Adj. Volume']]
data.head()

            Adj. High  Adj. Low  Adj. Open  Adj. Close  Adj. Volume
Date
1980-12-12   0.424470  0.422706   0.422706    0.422706  117258400.0
1980-12-15   0.402563  0.400652   0.402563    0.400652   43971200.0
1980-12-16   0.373010  0.371246   0.373010    0.371246   26432000.0
1980-12-17   0.382273  0.380362   0.380362    0.380362   21610400.0
1980-12-18   0.393300  0.391536   0.391536    0.391536   18362400.0

In [9]:
data['HL_PCT'] = (data['Adj. High'] - data['Adj. Low']) / data['Adj. Close'] * 100.0

data['PCT_change'] = (data['Adj. Close'] - data['Adj. Open']) / data['Adj. Open'] * 100.0

In [10]:
data.head()

,Adj. High,Adj. Low,Adj. Open,Adj. Close,Adj. Volume,HL_PCT,PCT_change
Date,,,,,,,
1980-12-12,0.424470,0.422706,0.422706,0.422706,117258400.0,0.417391,0.000000
1980-12-15,0.402563,0.400652,0.402563,0.400652,43971200.0,0.477064,-0.474799
1980-12-16,0.373010,0.371246,0.373010,0.371246,26432000.0,0.475248,-0.473000
1980-12-17,0.382273,0.380362,0.380362,0.380362,21610400.0,0.502513,0.000000
1980-12-18,0.393300,0.391536,0.391536,0.391536,18362400.0,0.450620,0.000000

### Microtask 2

In [11]:
data = data[['Adj. Close', 'PCT_change', 'HL_PCT', 'Adj. Volume']]

In [12]:
data.head()

            Adj. Close  PCT_change    HL_PCT  Adj. Volume
Date
1980-12-12    0.422706    0.000000  0.417391  117258400.0
1980-12-15    0.400652   -0.474799  0.477064   43971200.0
1980-12-16    0.371246   -0.473000  0.475248   26432000.0
1980-12-17    0.380362    0.000000  0.502513   21610400.0
1980-12-18    0.391536    0.000000  0.450620   18362400.0

In [13]:
data.fillna(value=-99999,inplace=True)

In [14]:
import math
predict_no_of_days_out = int(math.ceil(0.01 * len(data)))

In [15]:
data['Label'] = data['Adj. Close'].shift(-predict_no_of_days_out)

In [16]:
data.head()

            Adj. Close  PCT_change    HL_PCT  Adj. Volume     Label
Date
1980-12-12    0.422706    0.000000  0.417391  117258400.0  0.409914
1980-12-15    0.400652   -0.474799  0.477064   43971200.0  0.417266
1980-12-16    0.371246   -0.473000  0.475248   26432000.0  0.417266
1980-12-17    0.380362    0.000000  0.502513   21610400.0  0.415355
1980-12-18    0.391536    0.000000  0.450620   18362400.0  0.413443

In [17]:
data.tail()

            Adj. Close  PCT_change    HL_PCT  Adj. Volume  Label
Date
2018-03-21     171.270   -2.153793  2.236235   35247358.0    NaN
2018-03-22     168.845   -0.679412  2.416417   41051076.0    NaN
2018-03-23     164.940   -2.048815  3.019280   40248954.0    NaN
2018-03-26     172.770    2.796454  3.854836   36272617.0    NaN
2018-03-27     168.340   -3.074620  4.888915   38962839.0    NaN

In [18]:
data.dropna(inplace=True)
data.tail()

            Adj. Close  PCT_change    HL_PCT  Adj. Volume    Label
Date
2017-11-01      166.89   -1.754283  2.594523   33100847.0  171.270
2017-11-02      168.11    0.280363  1.915413   32710040.0  168.845
2017-11-03      172.50   -0.862069  1.820290   58683826.0  164.940
2017-11-06      174.25    1.093609  1.876614   34242566.0  172.770
2017-11-07      174.81    0.517509  0.943882   23910914.0  168.340

### Microtask 3

In [22]:
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [23]:
X = np.array(data.drop(['Label'],1))
y = np.array(data['Label'])

In [24]:
X.shape

(9306, 4)

In [25]:
y.shape

(9306,)

In [26]:
X = preprocessing.scale(X)

D:\AnacondaandPython\lib\site-packages\sklearn\preprocessing\_data.py:174: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [28]:
linear_regression_classifier = LinearRegression()

In [29]:
linear_regression_classifier.fit(X_train,y_train)

LinearRegression()

### Microtask 4

In [30]:
linear_regression_classifier.score(X_test,y_test)

0.9760261856062606

In [31]:
y_test.shape

(2327,)

In [32]:
y_pred = linear_regression_classifier.predict(X_test)

In [33]:
y_pred.shape

(2327,)

In [34]:
from sklearn.metrics import mean_squared_error

In [35]:
mean_squared_error(y_test, y_pred)

38.656323487024295